<link rel="stylesheet" href="/stylesheets/course-details.css">



<header class="bg-light">
  <div class="container">
    <h1 class=" header-text">{{course.code}}</h1>
    <p style="font-size: 20px"><a href="localhost:3000/profile" target="_blank"> Back</a></p>

  </div>
</header>


<div class="col-md-12 text-center sm-text-center sm-mb-90">
  <h3 style="font-size: 35px">Description</h3>
  <div class="divider divider-left divider-dark"></div>
  <p style="font-size: 25px">{{course.introduction}}</p>
</div>
<br>
<div class="col-md-12 text-center sm-text-center sm-mb-90">
  <h3 style="font-size: 35px">Related Majors</h3>
  <div class="divider divider-left divider-dark"></div>
  <p style="font-size: 25px">{{course.startDate}}</p>
</div>
<br>
<div class="col-md-12 text-center sm-text-center sm-mb-90">
  <h3 style="font-size: 35px">Annual Salary</h3>
  <div class="divider divider-left divider-dark"></div>
  <p style="font-size: 25px">{{course.endDate}}</p>
</div>
<br>
<div class="col-md-12 text-center sm-text-center sm-mb-90">
  <h3 style="font-size: 35px">Learning Resources</h3>
  <div class="divider divider-left divider-dark"></div>
  <p style="font-size: 25px"> <a href="{{course.title0}}" target="_blank">{{course.startTime}}</a></p>
  <p style="font-size: 25px"> <a href="{{course.title1}}" target="_blank">{{course.endTime}}</a></p>
  <p style="font-size: 25px"> <a href="{{course.title2}}" target="_blank">{{course.days}}</a></p>
</div>
<script>
  function RedirectUrl() {
    window.location.href = "localhost:3000/profile";
  }
  <script>