<header class='bg-light'>
<div class="container">
    <h1 class="header-text">Add Course</h1>
</div>
</header>
<div class="course-create">
<form id="course-create-form" action="/courses/create" method='post' enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>

    <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" name="code" id="code">
    </div>
    <div class="form-group">
        <label for="instroduction">Introduction</label>
        <textarea class="form-control" id="introduction" name="introduction" rows="15" cols="80"> </textarea>
    </div>
    <div class="form-group">
        <label for="term">Term:</label>
        <select class="form-control" name="term" id="term">
        {{#each schoolTerms}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
    </div>
    <div class="form-group">
        <label for="startDate">Start date:</label>
        <input  type="date" class="form-control" name="startDate" id="startDate">
    </div>
    
    <div class="form-group">
        <label for="endDate">End date:</label>
        <input type="date" class="form-control" name="endDate" id="endDate">
    </div>

    <div class="form-group">
        <label for="startTime">Start time:</label>
        <input type="time" class="form-control" name="startTime" id="startTime">
    </div>

    <div class="form-group">
        <label for="endTime">End time:</label>
        <input type="time" class="form-control" name="endTime" id="endTime">
    </div>

    <div class="form-group"> 
        <label for="days">Days</label>
        <div>
            {{#each weekDays}}
            <input type="checkbox" name="days" class="days" value="{{this}}"> 
            {{this}}    
            {{/each}}
        </div>
    </div>

    <div class="form-group">
        <label for="syllabus">Syllabus</label>
        <input type="file" class="form-control-file" name="syllabus" id="syllabus">
    </div>

    <div class="form-group">
        <label for="instructorList">Instructor</label>
        <div>
            {{#each instructors}}
            <div>
                <input name="instructor" type="radio" value={{this._id}}> {{this.name}} {{this.lastName}}</input>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="form-group">
        <label for="studentList">Students</label>
        <div class="student-scroll">
            {{#each students}}
            <div>
                <input type="checkbox" name="studentList" class="studentList" value={{this._id}}> {{this.name}} {{this.lastName}}</input>
            </div>
            {{/each}}
        </div>
    </div>
    <button class="btn" type="submit">Save</button>
</form>

</div>

