  <header class='bg-light'>
    <div class="container">
      <h1 class="header-text">Schedule</h1>
    </div>
  </header>

<div class="service-box">
    <h1>{{course.term}}</h1>
    <h1>{{course.startDate}} - {{course.endDate}}</h1>
    <h1>{{course.startTime}} - {{course.endTime}}</h1>
    {{#each course.days}}
      {{this}}
    {{/each}}
</div>


  